<div class="modal">
  <div class="modal-header">
  <a class="close" href="#">×</a>
  <h3 class="formTitle">{{mode}} {{element.name}}</h3>
  </div>
  <div class="modal-body">
   <!-- error messages -->
   <div></div>
   
   <!-- available attributes -->
   <a href="" class="icon" data-toggle="collapse" data-target="#available"><i class="icon-info-sign"></i></i>Available Attributes</a>
   <div id="available"  class="collapse" style="height:0">   
     <span ng:repeat="attribute in element.attributes">
        <ng:switch on="attribute.typical" >
          <strong ng:switch-when="true">{{attribute.name}}</strong>
          <span ng:switch-default>{{attribute.name}}</span>
        </ng:switch>
      </span>
     </div>
     
     <!-- form -->
    <form class="form-horizontal" action="">
      <div class="control-group">
          <a class="btn" ng:click="addAttribute(form)"><i class="icon-plus"></i>Attributes</a>
          <a class="btn" href="{{element.doclink}}" target="_new"><i class="icon-file"></i>{{element.name}} Documenation</a>
      </div>
      <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls">
        <input type="text" name="formLabel" ng:model="form.label" required>
        </div>
      </div>      
      <div class="control-group" ng:repeat="elmProp in form.attributes">
      <select name="elmProp.attribute.name{{$index}}" ng:options = "attribute.name for attribute in element.attributes" ng:model="elmProp.attribute">
      </select>
      <input type="text" name="elmProp{{$index}}" ng:model="elmProp.value" required/>
       <a class="btn btn-danger"  href="" ng:click="remove($index)"><i class="icon-trash icon-white"></i></a>
       </div>
    </form>
  </div>
  
  <!-- control buttons -->
  <div class="modal-footer">
    <a href="" ng:click="save()" class="btn btn-primary">Save changes</a>
    <a href="#" class="btn">Close</a>
  </div>
<div>